* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 10px 5px;
  cursor: pointer;
  background: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  line-height: 7px;
  font-weight: bold;
  font-size: 20px;
}

.menu-item-wrapper {
  text-align: center;
}

input[type="radio"] + label span {
  transition: background .2s,
    transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
transform: scale(1.0);
} 

input[type="radio"]:checked + label span {
background-color: #B6F09C;
box-shadow: 0px 0px 0px 2px #B6F09C inset;
}

input[type="radio"]:checked + label{
 color: #B6F09C;
 border-color: #B6F09C;
}