@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-input:focus {
  border-image-source: linear-gradient(0deg, #82dbf7 0%, #b6f09c 100%);
  border-width: 1px;
  border-image-slice: 1;
  box-shadow: 0 0 0 6px rgba(80, 217, 255, 0.2);
}

/* Default Checkbox Styles */
input[type="checkbox"] {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #555;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  position: relative;
  cursor: pointer;
}

/* Checked Checkbox Styles */
input[type="checkbox"]:checked {
  border-color: #b6f09c;
  background-color: #b6f09c;
}

/* Checkmark Styles */
input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 1em;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
